.filter-container {
    background-color: rgba(255, 255, 255, 0.75);
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20vw;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.filter-container h4 {
    color: black;
    align-self: center;
    font-size: 1.25rem;
    padding: .5rem;
}

.filter-container hr {
    border: 0;
    height: 1px;
    background: #333;
    width: 90%;
    margin-top: 0;
}

.filter-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}