.filter-list-container {
    display: flex;
    flex-direction: row;

}

.filter-container {
    background-color: rgba(255, 255, 255, 0.75);
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 13rem;
    /* height: 50vh; */
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    
}

.filter-container h4 {
    color: black;
    align-self: center;
    font-size: 1.25rem;
    padding-top: .5rem; 
}

.show-all-checkbox {
    margin-left: 1rem;
}

.line_1 {
    border: 0;
    height: 1px;
    background: #333;
    width: 90%;
    margin-top: 0;
}

.filter-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

fieldset {
    margin-left: 1rem;
}

legend {
    font-family: Raleway-Medium;
    padding-bottom: 0.25rem;
    padding-top: 0.5rem;
}
input {
    margin-left: 1rem;
}

.line_2 {
    border: 0;
    height: 1px;
    background: lightgrey;
    width: 90%;
    margin-top: 0;
}