.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    height: 2.5rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    background: black;
    border-radius: 5px 5px 5px 5px;
    padding-right: 1rem;
    padding-left: 1rem;

}

.header-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.header-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px 3px 3px 3px;
    color:white;
    padding: 0.2rem;
    padding-top: 0.25rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.header-link:hover {
    color: black;
    background-color: white;
}

/* .title-container {
    padding: 0.25rem;
} */

.logo {
    color: white;
    background-color: black;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px 5px 5px 5px;
     
}

.logo:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);  
}

a:link {
    text-decoration: none;
} 

