.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding-top: 0.5rem;
}

.header-link {
    padding: 0.2rem;
    border-radius: 3px 3px 3px 3px;
}

/* .link-container:hover {
    background-color: black;
} */

.header-link:hover {
    /* font-size: 1.05rem; */
    color: white;
    background-color: black;
}

a {
    margin-right: 2rem;
    color: black;
}

a:link {
    text-decoration: none;
}



.title-container h1:hover {
    font-size: 3.025rem; 
}