.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding-top: 0.5rem;
}

a {
    margin-right: 2rem;
    color: black;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight: bolder;
}