.job-form-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.job-form-container {
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    width: calc(100vw - 6rem);
    margin-left: 2rem;
    background-color: rgba(255, 255, 255, 0.98);
    color: rgb(45, 45, 45);
    padding: 1rem;
}

.job-form-container h3 {
    padding-left: 1rem;
}

.job-form {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

.job-form input {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.text-box {
    margin-right: 3rem;
}

.form-section {
    border: solid gainsboro;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-width: 1px;
    margin-top: 1rem;
    padding: 0.5rem;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-me textarea {
    border: solid gainsboro;
    border-width: 1px;
}

.job-submit-button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 5rem;
}

.job-form hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.submit-success {
    color: red;
}