.location-list {
    padding: 1rem;
}


.locations-list li{
   padding-left: 1rem;
   padding-top: 0.5rem;
   padding-bottom: 0.25rem;
    color: #bebebe;
    font-style: italic;
}

ul {
    padding-bottom: 1rem;
}

.locations-link {
    border: solid 1px black;
    border-radius: 3px 3px 3px 3px;
    padding: 0.25rem;
    background-color: white;
    color: black;
    font-style: normal !important;
    
}

.locations-link:hover {
    border-radius: 3px 3px 3px 3px;
    border: solid 1px black;
    color: white;
    background-color: black;
}
