.locations-list-container{
    padding-top: 2rem;
}

.locations-list {
    background-color:rgba(255, 255, 255, 0.90);
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: rgb(45, 45, 45);   
}

.location-container {
    padding: 1rem;
}

.locations-list li{
    padding-left: 1.25rem;
    padding-top: 0.4rem;
}

.locations-link {
    margin-left: 1rem;
    font-weight: bold;
    padding-right: 1rem;

    padding: 0.2rem;
    border-radius: 3px 3px 3px 3px;
}

.locations-link:hover {
    background-color: black;
    color: white;
}
