
.match-percentage {
    padding: 0.5rem;
    background-color: black;
    color: white;
    border-radius: 4px 4px 0 0;
    margin: 0;
}


.profile-pic {
    height: auto;
    width: 100%;
}

.card-container {
    padding: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.card-img-overlay {
    padding: 0;
}

.card-body p{
    text-decoration: none;
    color: black;
}