.detail-form-container {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.detail-container {
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    width: calc(100vw - 5rem);
    margin-left: 5rem;
    background-color: rgba(255, 255, 255, 0.98);
    color: rgb(45, 45, 45);
    padding: 1rem;
}

.nanny-detail {
    margin: 1rem;
}

.nanny-detail-img {
    min-height: 15rem !important;
    min-width: 15rem !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);   
}

.back-button {
    margin-bottom: 1rem;
}

.detail-container {
    margin: 1rem;
}

.nanny-detail-main {
    display: flex;
    flex-direction: row;
}


.basic-info {
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: solid gainsboro;
    border-width: 1px;
}

.basic-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    
}

.check-icon {
    height: 0.8rem;
    width: auto;
    margin-right: 0.25rem;
    
}

.x-icon {
    height: 0.8rem;
    width: auto;
    margin-right: 0.25rem;
    
}

.skills-list {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid lightgray;
    max-width: 20rem;
    
}

.background {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    border: solid gainsboro;
    border-width: 1px;
}


.detail-container hr {
    border: 0;
    height: 0;
    border-top: 1px solid lightgray;
    
}

.check-skill-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email-form-container {
    padding-bottom: 2rem;
}
.nanny-email-form {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: calc(100vw - 5rem);

    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0.98);
    color: rgb(45, 45, 45);
}

.nanny-email-input-container {
    display: flex;
    flex-direction: column;
}

.nanny-email-input-container input{
    margin-bottom: 0.5rem;
    width: 20rem;
}

.nanny-email-input-container textarea {
    height: 10em;
    margin-bottom: 0.5rem;
    border: solid gainsboro;
    border-width: 1px;
}

.other-certs-container {
    margin-top: 0.5rem;
}

.nanny-email-input-container input {
    border: solid gainsboro;
    border-width: 1px;
}

.submit-success {
background-color: red;
color: white;
padding-left: 0.5rem;

}
