.nanny-card-container {
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    width: 75vw;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.75);
}

.nanny-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nanny-profile-img {
    height: 150px;
    width: 150px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.nanny-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 0.5rem;
}
  
button {
    width: 100px;
    margin-bottom: 0.5rem;
}

h3 {
    margin-left: 1rem;
    margin-top: 1rem;
}