.nanny-detail {
    margin: 1rem;
}

.nanny-detail-img {
    height: 200px !important;
    width: 200px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);   
}

.back-button {
    margin-bottom: 1rem;
}

.detail-container {
    margin: 1rem;
}

.nanny-detail-main {
    display: flex;
    flex-direction: row;
}


.basic-info {
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.basic-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    
}

.check {
    height: 1rem;
    margin-right: 0.25rem;
    margin-left: 0.5rem;
}

.skills-list {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid lightgray;
    
}

.background {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}




.check-skill-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nanny-email-form {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: auto;
    margin: 1rem;
    width: 50vw;
}

.nanny-email-input-container {
    display: flex;
    flex-direction: column;
}

.nanny-email-input-container input{
    margin-bottom: 0.5rem;
    width: 20rem;
}

.nanny-email-input-container textarea {
    height: 10em;
    margin-bottom: 0.5rem;
    border: solid lightgray;
    border-width: 1px;
}

