.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3rem;
  margin-top: -3rem;
}

.site-body {
  min-height: calc(100vh - 3rem);
}

html {
  margin: 0;
}

.site-content {
  background-image: url("./images/background_img/boys_bikes_muscles.jpg");
  
  min-height: 100%;
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
}

.site-background{
  background-color: rgba(0,0,0,0.70);
}