main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .splash-container {
    background-image: url('./images/background_img/boys_bikes_muscles.jpg');
  }
 